*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 2;
}
nav{
    background: white;
    padding: 10px;
}
nav ul{
    display: inline-flex;
    list-style: none;
}

nav ul li {
    width: 140px;
    margin: 12px 0;
    padding: 18px 0;
    border-right: 1px solid black;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    cursor: pointer;
    font-Weight: Bold !important;
    color: rgba(1,0,102,1) !important;
    font-family: 'Roboto Condensed', Arial, sans-serif !important;
    font-size: 18px;
    /* padding: 18px 0; */
    /* border-right: 1px solid black; */
    cursor: pointer;
    text-decoration: none;
}
body  {
    width: 100%;
    height: 100%;
    background: url('https://i.postimg.cc/mrKVNK2M/kkjh.jpg');
}
/*
main{
    width: 100%;
    height: 100%;
    background: url('https://i.postimg.cc/XqNt26j2/m2.png');
}*/
/*.loading-page {

    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(/_webmoduledata/videos/loaders/200w (3).gif) center no-repeat #141414;
}*/

h2 {
    Text-Align: Center;
    Color: rgba(237,27,36,1) !important;
    Font-Size: 26px !important;
    Font-Family: 'Arial Black', Arial, sans-serif !important;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}